<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.realityandapp.paopao_customer"
	android:versionCode="1"
	android:versionName="0.1.0">

	<uses-sdk
		android:minSdkVersion="8"
		android:targetSdkVersion="20" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

	<application
		android:allowBackup="true"
		android:icon="@drawable/ic_launcher"
		android:label="@string/app_name"
		android:theme="@style/AppTheme" android:name=".PaopaoCustomerApplication">

		<activity
			android:name=".views.MainActivity"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
        <activity android:name=".views.SignUpActivity"/>
        <activity android:name=".views.SignInActivity"/>
        <activity android:name=".views.ShopsActivity"/>
        <activity android:name=".views.ShopGoodsGridActivity"/>
        <activity android:name=".views.CartActivity"/>
        <activity android:name=".views.CartToOrderActivity"/>
        <activity android:name=".views.OrderActivity"/>
        <activity android:name=".views.IMActivity"/>
        <activity android:name=".views.NewAddressActivity"/>
        <activity android:name=".views.OrderEditActivity"/>
        <activity android:name=".views.AddressesActivity"/>
        <activity android:name=".views.ShopGoodsActivity"/>
    </application>

</manifest>
